/* Global styles */
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  }
  
  a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  }
  
  a:hover {
  color: #004b91;
  }

  a[href="https://github.com/HarshilBhardwaj047/Portfolio"] {
    display: block;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: #0088cc;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
  }
  
  a[href="https://github.com/HarshilBhardwaj047/Portfolio"]:hover {
    background-color: #3de80d;
  }
  
  /* Page specific styles */
  .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    width: 300px; /* set a fixed width */
  }
  .project-image {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  }
  
  .project-title {
  font-size: 2rem;
  padding: auto;
  margin-bottom: 10px;
  }
  
  .project-description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  }
  
  .project-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: firebrick;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  }
  
  .project-link:hover {
  background-color: #004b91;
  }

  /* Set header styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li:not(:last-child) {
  margin-right: 2rem;
}

nav ul li a {
  position: relative; /* add relative positioning */
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #0088cc;
}

nav ul li a::before { /* add an underline */
  content: '';
  position: absolute;
  bottom: -2px; /* adjust position to be below the text */
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #0088cc;
  transition: width 0.3s ease-in-out; /* animate the width */
}

nav ul li a:hover::before { /* animate the underline */
  width: 100%;
}