/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font size and family */
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/* Set header styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li:not(:last-child) {
  margin-right: 2rem;
}

nav ul li a {
  position: relative; /* add relative positioning */
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #0088cc;
}

nav ul li a::before { /* add an underline */
  content: '';
  position: absolute;
  bottom: -2px; /* adjust position to be below the text */
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #0088cc;
  transition: width 0.3s ease-in-out; /* animate the width */
}

nav ul li a:hover::before { /* animate the underline */
  width: 100%;
}


/* Set main styles */
main {
  padding: 2rem;
}

section {
  margin-bottom: 4rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin-right: 2rem;
  margin-bottom: 2rem;
  max-width: 30rem;
}

li img {
  max-width: 40%;
  height: auto;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
}


p {
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input,
textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  font-size: 1.2rem;
}

button[type="submit"] {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #0088cc;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #005580;
}

/* Set footer styles */
footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 1rem 0;
  position: bottom;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  font-size: 1rem;
  color: #333333;
}
